<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 찾기</title>
</head>
<form method="post" action="/member/reset_pw">
    <input type="hidden" name="email" value="<%=email%>"><br>
    비밀번호<input type="password" name="pw" values="pw"><br>
    <input type="submit">
</form>
</html>