<!DOCTYPE HTML>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/myscript.js"></script>
    <script type="text/javascript">
        // $(document).bind("mobileinit",function(){
        //   $.mobile.ajaxLinksEnabled=false;
        //   $.mobile.ajaxFormsEnabled=false;
        //   $.mobile.ajaxEnabled=false;
        // });
    </script>
</head>
<body>




</body>
</html>