<!DOCTYPE HTML>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/myscript.js"></script>
    <script type="text/javascript">
        // $(document).bind("mobileinit",function(){
        //   $.mobile.ajaxLinksEnabled=false;
        //   $.mobile.ajaxFormsEnabled=false;
        //   $.mobile.ajaxEnabled=false;
        // });
    </script>
</head>
<body>

<div id='login' data-role='page' data-title="login">
    <header data-role='header' data-theme='c'>
        <h1><img src="../images/hellotutor2.png" id = "logo_header" alt='logo'/></h1>
        <a href='#home' data-icon='arrow-l' data-iconpos='notext'></a>
        <!-- <a href='#info' data-icon='info' data-iconpos='notext' data-rel='dialog'></a> -->
    </header>

    <section data-role='content'>
        <form name="login_frm" data-ajax="false" action="" method="POST">
            <label for="basic">로그인하기</label>
            <input type="email" name="email" id="email"  value="tutor4@tutor.com" placeholder="이메일" />
            <input type="password" name="pw" id="pw" value="1234"  placeholder="비밀번호"/>
            <a href='#find_pw' id="find_pw_btn" data-role="button">비밀번호 찾기</a>
            <br/><br/><br/><br/><br/>
            <input id="login_submit" type="submit" value="로그인"/>
            <a href='/member' id="login_cancel" data-role="button">취소</a>
        </form>
    </section>

</div>


<div id='find_pw' data-role='page' data-title="find_pw">
    <header data-role='header' data-theme='c'>
        <h1><img src="../images/hellotutor2.png" id = "logo_header" alt='logo'/></h1>
        <a href='#home' data-icon='arrow-l' data-iconpos='notext'></a>
        <!-- <a href='#info' data-icon='info' data-iconpos='notext' data-rel='dialog'></a> -->
    </header>

    <section data-role='content'>
        <form name="login_frm" data-ajax="false" action="/member/send_pw" method="POST">
            <label for="basic">이메일</label>
            <input type="email" name="email" id="email"  value="" placeholder="이메일" />
            <!--<input type="password" name="pw" id="pw" value="1234"  placeholder="비밀번호"/>-->
            <br/><br/><br/><br/><br/>
            <input id="login_submit" type="submit" value="비밀번호 찾기"/>
            <a href='#login' id="login_cancel" data-role="button">취소</a>
        </form>
    </section>

</div>

</body>
</html>